
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

.post-item {
  border-bottom: 1px solid #f2dede;
  padding-bottom: 20px;
}

.post-title {
  font-size: 20px;

  small {
    vertical-align: top;
  }

  a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
  }
}

.post-created {
  margin: 0 8px;
  color: #909090;
}

.delete-form-button {
  display: inline-block;
  vertical-align: top;
}